/* Behållare för listor */
.list-container {
    width: 100%;
    max-width: 600px;
    margin: 100px auto; /* Ändra till auto för att centrera horisontellt */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: start;
}

/* Rubriker */
h2 {
    text-align: center;
    color: #333;
    font-family: 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
    font-size: 24px;
}

/* Sökfält */
input[type="text"] {
    align-self: center;
    width: 100%;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 20px;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #007aff;
    outline: none;
}

/* Lista */
ul {
    list-style-type: none;
    padding: 0;
    width: 100%; /* Se till att ul tar upp hela bredden av sin container */
}

.list-item {
    list-style: none;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 100%; /* Se till att list-item tar upp hela bredden av ul */
    box-sizing: border-box; /* Inkludera padding och border i elementets totala bredd */
    align-self: ce;
}

.list-item:hover {
    background-color: #f0f0f0;
}

/* Expanderad information */
.expanded-info {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    text-align: left; /* Vänsterställ texten */
}

.expanded {
    background-color: #e0e0e0;
}

/* Flexbox för att arrangera info inom listobjekt */
.list-info {
    display: flex;
    justify-content: space-between;
    
}

/* Stilar för stark text (ex. namn) */
strong {
    color: #333;
    font-size: 18px;
}